@{
    ViewData["Title"] = "Road Runner - Dashboard";
}
@{bool runner = ViewBag.runner;}


<a style="margin-left: 10px;" class="btn btn-primary pull-right" href="/logout">Logout</a>
<form class="form-inline mr-auto pull-right" asp-controller="Home" asp-action="Search" method="GET" >
    <input class="form-control mr-sm-2" type="text" name="searchString" placeholder="Search friends.." aria-label="Search">
    <button class="btn btn-success" type="submit">
        <span class="glyphicon glyphicon-search"></span>
    </button>
</form>




<h2>Hello, <span style="color: rgb(13, 143, 143)">@ViewBag.user.username</span>!</h2><br>
<div class="container">
<h4>Are you ready for your next <a href="create">trip</a>?</h4><hr>
<h1>Your Trips</h1>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Destination</th>
      <th scope="col">Start Point</th>
      <th scope="col">Travel Start Date</th>
      <th scope="col">Travel End Date</th>
      <th scope="col">Runners</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var trip in ViewBag.user.planned)
    {
      <tr>
        <td><a href="/show/@trip.tripId">@trip.destination</a></td>
        <td>@trip.start_point</td>
        <td>@trip.start_date.ToString("MMM dd, yyyy hh:mm tt")</td>
        <td>@trip.end_date.ToString("MMM dd, yyyy hh:mm tt")</td>
        <td>@trip.runners.Count</td>
                <td>
                    <form asp-action="delete" asp-controller="Home" method="post">
                        <input type="hidden" value=@trip.tripId name="tripId">
                        <input class="btn btn-link" type="submit" value="Delete">
                    </form>
                </td>
        

    </tr>
    }
    @foreach(var trip in ViewBag.user.attended)
    {
        @if(trip.trip.userId != ViewBag.user.userId)
        {
        <tr>
        <td><a href="/show/@trip.trip.tripId">@trip.trip.destination</a></td>
        <td>@trip.trip.start_point</td>
        <td>@trip.trip.start_date.ToString("MMM dd, yyyy hh:mm tt")</td>
        <td>@trip.trip.end_date.ToString("MMM dd, yyyy hh:mm tt")</td>
        <td>@trip.trip.runners.Count</td>

            <td>
            <form asp-action="leave" asp-controller="Home" method="post">
                    <input type="hidden" value=@trip.trip.tripId name="tripId">
                    <input class="btn btn-link" type="submit" value="Leave">
            </form>
            </td>
                </tr>

        }

    
    }
    
</tbody>
    </table>
        <a href="/create" class="btn btn-link">New Trip</a>



    <h1>Road Runners you may know..</h1>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Destination</th>
      <th scope="col">Start Point</th>
      <th scope="col">Travel Start Date</th>
      <th scope="col">Travel End Date</th>
      <th scope="col">Creator</th>
      <th scope="col">Runners</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      
    @foreach (var t in ViewBag.ftrip)
    {
        @foreach(var ftrip in t.planned)
        {
            @foreach (var ft in ftrip.runners)
            {
                @if(ft.userId == ViewBag.user.userId)
                {
                 runner = true;
  
                }
        
            }
            @if(runner == false)
            {
            <tr>
            <td><a href="/show/@ftrip.tripId">@ftrip.destination</a></td>
            <td>@ftrip.start_point</td>
            <td>@ftrip.start_date.ToString("MMM dd, yyyy hh:mm tt")</td>
            <td>@ftrip.end_date.ToString("MMM dd, yyyy hh:mm tt")</td>
            <td><a href="/user/@ftrip.planner.userId">@ftrip.planner.username</a></td>
            <td>@ftrip.runners.Count</td>

            <td>
            <form asp-action="join" asp-controller="Home" method="post">
                    <input type="hidden" value=@ftrip.tripId name="tripId">
                    <input class="btn btn-link" type="submit" value="Join">
            </form>
            </td>

            </tr>
            }
            runner = false;
        }
      


    }


    </tbody>
    </table>

    </div>