@{
    ViewData["Title"] = "Search Results Page";
}

<h1>this is the search results page.</h1>

<p class="text-right">
    <a href="/dashboard" class="btn btn-link">Dashboard</a>
    <a href="/logout" class="btn btn-link">Logout</a>
</p>
<hr>

@*@ViewBag.Users @ViewBag.Users*@

@if(ViewBag.Users.Count>0)
       {
           foreach(var user in ViewBag.Users)
           {
               <ul>
                    <li>@user.first_name @user.last_name</li>
                    <li>@user.username</li>
               </ul> 
           }
       }

<hr>

@*@if(ViewBag.thisUser != ViewBag.currentUser && ViewBag.friends == false)
{
<form asp-action="friend" asp-controller="Home" method="post">
        <input type="hidden" value=@ViewBag.thisUser.userId name="friendBId">
        <input type="hidden" value=@ViewBag.currentUser.userId name="friendAId">
        <input class="btn btn-link" type="submit" value="Add friend">
</form>
} else if(ViewBag.thisUser == ViewBag.currentUser){
<p><a href="#">Update your profile</a></p>
} else {
<p>You are already friends with @ViewBag.thisUser.first_name @ViewBag.thisUser.last_name!</p>
}*@